.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .g_video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: gray;
        border-radius: 15px;
        width: 800px;
        height: auto;
        margin: 2rem 0;


        p {
            padding: 3rem;
        }
    }
}