.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .h-main {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../assests/kal-visuals-3UcQtXSvA88-unsplash.jpg");
        background-size: cover;
        background-position: 0 -80px;
        background-attachment: fixed;
        width: 100%;
        background-repeat: no-repeat;
    }

    .h-mini-bio {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 4rem 1rem;
        margin: 0 10rem;
        line-height: 1rem;

        .hm-para {

            p {
                color: rgb(135, 131, 126);
                padding-top: 2rem;
            }

            a {
                text-decoration: none;
                color: white;
                text-align: center;
                display: flex;
                padding-top: 2rem;
                transition: ease-in 0.5s;
                font-style: italic;

                &:hover {
                    color: #B39F79;
                }
            }
        }
    }

    .h-topics {
        background-color: white;
        display: flex;
        height: 60vh;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
            height: 18rem;
            width: 18rem;
            padding: 0.5rem;

            a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                svg {
                    height: 60px;
                    width: 60px;
                    fill: #B39F79;
                    cursor: pointer;

                    &:hover {
                        fill: black;
                    }
                }

                h4 {
                    color: black;
                    cursor: pointer;
                }

                p {
                    color: rgb(135, 131, 126);
                    padding: 0 2.5rem;
                    cursor: pointer;
                }
            }
        }


    }
}

@media screen and (max-width:740px) {
    .home {

        .h-main {
            height: 80vh;
        }
        
        .h-mini-bio {
            margin: 0 4rem;
            height: 100%;

            .hm-title {
                
                h2 {
                    line-height: 2rem;
                }
            }
        }

        .h-topics {
            flex-direction: column;
            height: 100%;
        }
    }
}