.menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .logo {
        a {
            img {
                width: 60px;
                height: 30px;
            }
        }
    }

    label, input {
        display: none;
    }

    nav {
        
        a {
            text-decoration: none;
            color: white;
            padding: 0 1rem;
            transition: ease-in 0.5s;

            &:hover {
                color: #B39F79;
            }
        }
    }
}