.menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: smaller;
    text-transform: uppercase;

    .logo {
        a {
            img {
                width: 60px;
                height: 30px;
            }
        }
    }

    label,
    input {
        display: none;
    }

    nav {

        a {
            text-decoration: none;
            color: white;
            padding: 0 1rem;
            transition: ease-in 0.5s;

            &:hover {
                color: #B39F79;
            }
        }
    }
}

@media screen and (max-width:590px) {
    .menu {

        label {
            display: block;
            cursor: pointer;
            padding: 0 0 0.5rem 1rem;
            font-size: large;
        }

        nav {
            text-align: center;
            width: 90%;
            display: none;
            height: 100%;

            a {
                padding: 0.5rem 0;
                margin: 0;
                width: 100%;
            }

            a:not(:last-child) {
                border-bottom: solid 1px gray;
            }


        }

        #toggle:checked+nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: visible;
        }
    }
}