.App {
  background-color: black;
  color: white;
  font-family: 'Overpass', sans-serif;

  p {
    font-style: italic;
  }

  footer {
    border-top: solid 1px black;
    padding: 0.5rem 1rem 0 1rem;
    margin: 0 1rem;
    font-size: xx-small;
    text-align: center;
  }
}
