.carousel {
    overflow: hidden;

    .c-inner {
        white-space: nowrap;
        transition: transform 0.3s;

        .c-item {
            display: inline-block;
            align-items: center;
            justify-content: center;

            h3 {
                text-align: center;
            }

            .react-player {
                margin: auto;
            }

            p {
                text-align: center;
            }
        }
    }

    .indicators {
        display: flex;
        justify-content: center;

        button {
            border: solid white;
            background-color: black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin: 15px;
            cursor: pointer;
        }

        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

    }
}